<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="TimeVO" type="com.yeonfish.voteservice.beans.vo.TimeVO"></typeAlias>
        <typeAlias alias="UserVO" type="com.yeonfish.voteservice.beans.vo.UserVO"></typeAlias>
        <typeAlias alias="VoteVO" type="com.yeonfish.voteservice.beans.vo.VoteVO"></typeAlias>
        <typeAlias alias="VoteDetailVO" type="com.yeonfish.voteservice.beans.vo.VoteDetailVO"></typeAlias>
        <typeAlias alias="VoteParamVO" type="com.yeonfish.voteservice.beans.vo.VoteParamVO"></typeAlias>
        <typeAlias alias="VoteManagerVO" type="com.yeonfish.voteservice.beans.vo.VoteManagerVO"></typeAlias>
        <typeAlias alias="VotedVO" type="com.yeonfish.voteservice.beans.vo.VotedVO"></typeAlias>
    </typeAliases>
</configuration>