<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 경로를 namespace에 작성 -->
<mapper namespace="com.yeonfish.voteservice.mappers.AccountMapper">
    <select id="register" parameterType="UserVO" resultType="string">
        insert into VoteService(`UUID`, `Name`, `NickName`, `Id`, `Password`, `Phone`, `Status`) values (#{UUID}, #{Name}, #{NickName}, #{Id}, #{Password}, #{Phone}, ${Status})
    </select>
    <update id="update" parameterType="UserVO">
        update VoteService_User set `Name`=#{Name}, `NickName`=#{NickName}, `Id`=#{Id}, `Password`=#{Password}, `Phone`=#{Phone}, `Status`=${Status} where `UUID`=#{UUID}
    </update>
</mapper>