<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 경로를 namespace에 작성 -->
<mapper namespace="com.yeonfish.voteservice.mappers.AccountMapper">
    <insert id="add" parameterType="UserVO">
        insert into VoteService_User(`UUID`, `Name`, `NickName`, `Id`, `Password`, `Phone`, `Status`) values (#{UUID}, #{Name}, #{NickName}, #{Id}, #{Password}, #{Phone}, ${Status})
    </insert>
    <update id="update" parameterType="UserVO">
        update VoteService_User set `Name`=#{Name}, `NickName`=#{NickName}, `Id`=#{Id}, `Password`=#{Password}, `Phone`=#{Phone}, `Status`=${Status} where `UUID`=#{UUID}
    </update>
    <select id="get" parameterType="UserVO" resultType="UserVO">
        select * from VoteService_User where `Id`=#{Id} and `Password`=#{Password}
    </select>
    <delete id="delete" parameterType="UserVO">
        delete from VoteService_User where `UUID`=#{UUID}
    </delete>
</mapper>