@font-face {
    font-family: "dongle-regular";
    src: url("../fonts/Dongle/Dongle-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "dongle-light";
    src: url("../fonts/Dongle/Dongle-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "dongle-bold";
    src: url("../fonts/Dongle/Dongle-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}